.idea/
logs/
target/classes
target/generated-sources
target/generated-test-sources
target/test-classes
target/rush-to-buy-processor.war
target/maven-archiver/
target/maven-status/
target/surefire-reports/
